# ignore a single file
mycode.class

# ignore an entire directory
/mydebugdir/

# ignore a file type
*.json

# add an exception (using !) to the preceding rule to track a specific file
!package.json
Engine/.vs/Engine/v15/Browse.VC.opendb
Engine/.vs/Engine/v15/Browse.VC.db
Engine/.vs/Engine/v15/ipch/AutoPCH/ENGINE-47ca63a0/ENGINE-547c9457/ENGINE.ipch
