# ignore a single file
mycode.class

# ignore an entire directory
/mydebugdir/

# ignore a file type
*.json

# add an exception (using !) to the preceding rule to track a specific file
!package.json
Engine/.vs/Engine/v15/Browse.VC.opendb
Engine/.vs/Engine/v15/Browse.VC.db
Engine/.vs/Engine/v15/ipch/AutoPCH/ENGINE-47ca63a0/ENGINE-547c9457/ENGINE.ipch
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/CL.command.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/CL.read.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/CL.write.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/link.command.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/link.read.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/link.write.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/SandboxGame.lastbuildstate
SandboxGame/SandboxGame/Debug/vc141.idb
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/CL.command.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/CL.read.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/CL.write.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link.command.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link.read.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link.write.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/SandboxGame.lastbuildstate
SandboxGame/SandboxGame/Debug/temp/vc141.idb
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/SANDBOXGAME-869d6db9/SANDBOXGAME-e51479f0/SANDBOXGAME.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/SANDBOXGAME-869d6db9/STDAFX-524d89f1/STDAFX.ipch
SandboxGame/.vs/SandboxGame/v15/Browse.VC.db
Engine/Engine/Debug/temp/Engine.tlog/Engine.lastbuildstate
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link-cvtres.read.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link-cvtres.write.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link-rc.read.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link-rc.write.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/unsuccessfulbuild
SandboxGame/.vs/SandboxGame/v15/Browse.VC.opendb
SandboxGame/.vs/SandboxGame/v15/Solution.VC.db
SandboxGame/.vs/SandboxGame/v15/Solution.VC.db-shm
SandboxGame/.vs/SandboxGame/v15/Solution.VC.db-wal
Engine/Engine/x64/Debug/Engine.tlog/Engine.lastbuildstate
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/CL.command.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/CL.read.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/CL.write.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/link.command.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/link.read.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/link.write.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/SandboxGame.lastbuildstate
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/unsuccessfulbuild
SandboxGame/SandboxGame/x64/Debug/vc141.idb
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/SANDBOXGAME-869d6db9/MYGLWINDOW-2d049318/MYGLWINDOW.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/SANDBOXGAME-869d6db9/MYGLWINDOW_MOC-ac027796/MYGLWINDOW_MOC.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/VECTOR2D-c55344ea/VECTOR2D.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINETESTER-1ee40861/GTEST-ALL-6381c33d/GTEST-ALL.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINETESTER-1ee40861/SOURCE-9a14807c/SOURCE.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINETESTER-1ee40861/VECTOR2D-21cc1fcf/VECTOR2D.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINETESTER-1ee40861/VECTOR2DTEST-386ab474/VECTOR2DTEST.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/CLOCK-27702398/CLOCK.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/CONSTANTS-1edeab89/CONSTANTS.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/COSTANTS-9905a83b/COSTANTS.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/MATRIX2D-be083552/MATRIX2D.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/MATRIX2D-be084e92/MATRIX2D.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/MATRIX2D-c839d637/MATRIX2D.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/MATRIX3D-c05d5df3/MATRIX3D.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/VECTOR2D-ebfc2250/VECTOR2D.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/VECTOR3D-c7a86d8b/VECTOR3D.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINE-47ca63a0/VECTOR3D-ee514af1/VECTOR3D.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINETESTER-1ee40861/CLOCKTESTS-7a73a4a/CLOCKTESTS.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINETESTER-1ee40861/HELPERFUNCTION-66fe9bd6/HELPERFUNCTION.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINETESTER-1ee40861/MATRIX2DTEST-886c7876/MATRIX2DTEST.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINETESTER-1ee40861/MATRIX3D-482c7637/MATRIX3D.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINETESTER-1ee40861/MATRIX3DTEST-8c770997/MATRIX3DTEST.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/ENGINETESTER-1ee40861/VECTOR3DTESTS-cdafc7e8/VECTOR3DTESTS.ipch
