# ignore a single file
mycode.class

# ignore an entire directory
/mydebugdir/

# ignore a file type
*.json

# add an exception (using !) to the preceding rule to track a specific file
!package.json
Engine/.vs/Engine/v15/Browse.VC.opendb
Engine/.vs/Engine/v15/Browse.VC.db
Engine/.vs/Engine/v15/ipch/AutoPCH/ENGINE-47ca63a0/ENGINE-547c9457/ENGINE.ipch
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/CL.command.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/CL.read.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/CL.write.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/link.command.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/link.read.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/link.write.1.tlog
SandboxGame/SandboxGame/Debug/SandboxGame.tlog/SandboxGame.lastbuildstate
SandboxGame/SandboxGame/Debug/vc141.idb
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/CL.command.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/CL.read.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/CL.write.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link.command.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link.read.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link.write.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/SandboxGame.lastbuildstate
SandboxGame/SandboxGame/Debug/temp/vc141.idb
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/SANDBOXGAME-869d6db9/SANDBOXGAME-e51479f0/SANDBOXGAME.ipch
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/SANDBOXGAME-869d6db9/STDAFX-524d89f1/STDAFX.ipch
SandboxGame/.vs/SandboxGame/v15/Browse.VC.db
Engine/Engine/Debug/temp/Engine.tlog/Engine.lastbuildstate
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link-cvtres.read.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link-cvtres.write.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link-rc.read.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/link-rc.write.1.tlog
SandboxGame/SandboxGame/Debug/temp/SandboxGame.tlog/unsuccessfulbuild
SandboxGame/.vs/SandboxGame/v15/Browse.VC.opendb
SandboxGame/.vs/SandboxGame/v15/Solution.VC.db
SandboxGame/.vs/SandboxGame/v15/Solution.VC.db-shm
SandboxGame/.vs/SandboxGame/v15/Solution.VC.db-wal
Engine/Engine/x64/Debug/Engine.tlog/Engine.lastbuildstate
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/CL.command.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/CL.read.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/CL.write.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/link.command.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/link.read.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/link.write.1.tlog
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/SandboxGame.lastbuildstate
SandboxGame/SandboxGame/x64/Debug/SandboxGame.tlog/unsuccessfulbuild
SandboxGame/SandboxGame/x64/Debug/vc141.idb
SandboxGame/.vs/SandboxGame/v15/ipch/AutoPCH/SANDBOXGAME-869d6db9/MYGLWINDOW-2d049318/MYGLWINDOW.ipch
